{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<br>
<form method="POST" class="pure-form">

  <fieldset class="pure-group">
    <legend>Add a Cart</legend>
    {% if message %}
    {{message}}
    {% endif %}
    <input type="text" class="pure-input-1-4" name="name" placeholder="Cart Name">
    <input type="text" class="pure-input-1-4" name="owner" placeholder="Cart Owner" required="required">
    <input type="text" class="pure-input-1-4" name="address" placeholder="Address" required="required">
    <input type="text" class="pure-input-1-4" name="street" placeholder="Street" required="required">
    <input type="text" class="pure-input-1-4" name="borough" placeholder="City" required="required">
    <input type="text" class="pure-input-1-4" name="zip" placeholder="Zip Code" required="required">
    <input type="text" class="pure-input-1-4" name="lat" placeholder="Latitude" required="required">
    <input type="text" class="pure-input-1-4" name="lng" placeholder="Longitude" required="required">
  </fieldset>
  <br>
  <button type="submit" value="Add" class="pure-button pure-button-primary">Submit</button>
</form>

{% endblock %}
