{% extends "layout.html" %}
{% block body %}

<h1>Add a Cart</h1>

{% if message %}
{{message}}
{% endif %}

<form method="POST">
<input type="text" name="name" placeholder="Cart Name"><br>
<input type="text" name="owner" placeholder="Cart Owner" required="required"><br>
<input type="text" name="address" placeholder="Address" required="required"><br>
<input type="text" name="street" placeholder="Street" required="required"><br>
<input type="text" name="borough" placeholder="City" required="required"><br>
<input type="text" name="zip" placeholder="Zip Code" required="required"><br>
<input type="text" name="lat" placeholder="Latitude" required="required"><br>
<input type="text" name="lng" placeholder="Longitude" required="required"><br>
<input type="submit" name="button" value="Add">
</form>

{% endblock %}
