{% extends "layout.html" %}
{% block body %}

<a href="{{url_for('add_carts')}}">Add a cart</a>

{% if target_cart.name %}
<h1>{{target_cart.name}}
{% endif %}
owned by{{target_cart.owner}}</h1>
<h3>Zip Code: {{target_cart.zip_code}}</h3>
<h3>Address: {{target_cart.address}} {{target_cart.street}}</h3>

<span>
{% for t in target_cart.tags %}
{{t.label}} |
{% endfor %}

{% if user %}
<form method=POST action=#>
  <input type=text name=tag_label placeholder="New tag">
  <input type=submit name=btn value=Tag>
</form>
{% endif %}
</span>
<br>
<br>

{% for r in target_cart.get_reviews() %}
<hr>
<br>
<h4>{{r.user}} gave a {{r.rating}}</h4>
<p>{{r.text}}</p>
<br>
{% endfor %}

{% if user and not user.get_reviews(cart_id=target_cart.get_id()) %}
<form method=POST action=#>
  {% for i in range(1,6) %}
  <input type=radio name=review_rating value={{i}}>
    {{i}}
  </input>
  {% endfor %}
  <input type=text name=review_text placeholder="Review text">
  <input type=submit name=btn value=Submit>
</form>
<br>
{% endif %}

{% for img in target_cart.images %}
<hr>
<br>
<img src="{{ url_for('serve_image', image_id=img._id) }}"> {{img.label}}
<br>
{% endfor %}
<br>
<br>

{% if user %}
<form method=POST action=# enctype="multipart/form-data">
  <input type=file name=file value="Choose image">
  <input type=text name=img_label placeholder="Image label">
  <input type=submit name=btn value=Upload>
</form>
{% endif %}

<br>
<a href={{ url_for('home') }}>Back</a>

{% endblock %}
