{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maps.css') }}">

<script type=text/javascript
  src="{{ url_for('static', filename='js/cart-map.js') }}"></script>
{% endblock %}

{% block body %}
<div class=map-form>
  <select class=styled-select align=center id="key">
    <option value=zip_code>Zip Code</option>
    <option value=street>Street</option>
    <option value=borough>Borough</option>
    <option value=owner>Name</option>
  </select>

  <input class=val align=center type=text id="val">
</div>

<div id="map-canvas"></div>

<br><br><br>
<a href="{{ url_for('recommendations', page=1) }}">Recommended Carts</a>
<ul>
{% for recommendation in recommendations %}
<li>recommendation</li>
{% endfor %}
</ul>
<br><br>
<a href="{{ url_for('new_reviews', page=1) }}">Newest Reviews</a>
<ul>
{% for review in reviews %}
<li>review</li>
{% endfor %}
</ul>
<br><br>
<a href="{{ url_for('new_carts', page=1) }}">Newest Carts</a>
<ul>
{% for cart in carts %}
<li>cart</li>
{% endfor %}
</ul>
<br><br>
{% endblock %}
