<!DOCTYPE html>

<html>
<head>
  {% extends "layout.html" %}
  {% block head %}
  <title>CartWheels</title>
  <link rel="stylesheet" type="text/css" href="/static/css/maps.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <script type=text/javascript>
    src="/static/js/cart-map.js"></script>
  {% endblock %}
</head>

<body>
  
  <div class="pure-u-1" id="main">

  <div class="header">
    
    <h1>CartWheels</h1>
    
    <h2> Mapping NYC's Food Carts </h2>

  </div>


  {% block body %}
  <div class=map-form>
    <select class=styled-select align=center id="key">
      <option value=zip_code>Zip Code</option>
      <option value=street>Street</option>
      <option value=borough>Borough</option>
      <option value=owner>Name</option>
    </select>

    <input class=val align=center type=text id="val">
  </div>

<div id="map-canvas"></div>
{% endblock %}

</body>
</html>

