{% extends "layout.html" %}
{% block head %}

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

<script type=text/javascript
  src="{{ url_for('static', filename='js/cart-map.js') }}"></script>

<style>
  #map-canvas {
    width: 700px;
    height: 603px;
    margin-top: 15px;
    margin-left: 1px;
    position: relative;
  }
  .map-form {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #DBDBDB;
  }
  .pure-button-small {
    font-size: 85%;
  }
  .pure-menu.pure-menu-open.pure-nav {
    border-radius: 2px;
    width: 660px;
    height: 34px;
    font-size: 15px;
    border-bottom: 1px solid #DBDBDB;
  }
  .pure-nav a {
    color: #FF3333;
  }
  .pure-menu.pure-nav a:hover {
    color: #FF3333;
  }
  .search-results {
    background: #FFFFFF;
    margin-top: -15px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px;
    height: 545px;
    overflow: scroll;
  }
  .search-item {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #DBDBDB;
  }
  .search-item:hover {
    background: #DEDEDE;
  }
  .hidden {
    display: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: inherit;
  }
</style>
{% endblock %}

{% block body %}
<form class="map-form pure-form">
  <fieldset>
    <label for=key>Search by</label>
    <select class=styled-select name=key id="key">
      <option value=zip_code>Zip Code</option>
      <option value=street>Street</option>
      <option value=borough>Borough</option>
      <option value=owner>Name</option>
    </select>

    <input class=val type=text name=val id="val" placeholder="Enter a search term">

    <button type="submit" class="pure-button pure-button-small">Search</button>
  </fieldset>
</form>

<div class="pure-g">
  <div class="pure-u-1-2">
    <div id="map-canvas"></div>
  </div>

  <div class="pure-u-1-2">
    <ul class="pure-menu pure-menu-open pure-menu-horizontal pure-nav">
      <li><a href=# id=carts>Top Carts</a></li>
      <li><a href=# id=revs>Latest Reviews</a></li>
    </ul>

    <div class="pure-u-3-5">
      <div class="search-results" id=cart-results>
        {% for recommendation in recommendations %}
        <div class=search-item>
          <a href="{{url_for('cart_page', cid=recommendation.get_id())}}">{{recommendation.owner}}</a>
          <p>{{recommendation.rating}} stars</p>
        </div>
        {% endfor %}
      </div>

      <div class="search-results hidden" id=rev-results>
        {% for review in reviews %}
        <div class=search-item>
          <a href="{{url_for('cart_page', cid=review.cart_id)}}">{{review.user}}:</a>
          <p>({{review.rating}})</p>
          <p>{{review.text}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
