{% extends "layout.html" %}
{% block body %}
<h1>Login</h1>
{% if error is defined %}
<font color=red>{{error}}</font>
{% endif %}

<form method="POST">
  <table class="table" style="border:1px solid rgb(221,221,221)">

    <tr class="active">
      <th><b>Username</b></th>
      <td><input type="text" name="username" required="required"></td>
    </tr>

    <tr class="active">
      <th><b>Password</b></th>
      <td><input type="password" name="password" required="required"></td>
    </tr>

    <tr class="active">
      <td colspan="2" style="text-align:center"><input type="submit" name="button" value="Sign in"></td>
    </tr>

  </table>
</form>
<sub>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></sub>
<br>
<a href="{{ url_for('home') }}">Back</a>
{% endblock %}
