<h1>Register!</h1>

<form method="POST">
<b>Please create a username.</b>
<br>
Username: <input type="text" name="username"> <font color=red><sub>{{usererror}}</sub></font>
<br>
<br>
<b>Please create a password.</b>
<br>
Password: <input type="password" name="password"> 
<br>
Verify Password: <input type="password" name="confirm"> <font color=red><sub>{{passerror}}</sub></font>
<br>
<br>
<input type="submit" name="button" value="Register">
<input type="submit" name="button" value="Cancel">

</form>
<br>
<sub>Already have an account? <a href="login.html">Login here!<a></sub>
