{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

{% if error %}
<font color=red>{{error}}</font>
{% endif %}
<br>
<br>
<form method="POST" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Register</legend>
    <h4>Please create a username and password.</h4>
    <div class="pure-control-group">
      <label for="user">Username</label>
      <input id="user" type="text" name="username" required="required">
    </div>
    
    <div class="pure-control-group">
      <label for="pw">Password</label>
      <input id="pw" type="password" name="password" required="required">
    </div>
    
    <div class="pure-control-group">
      <label for="pw2">Verify Password</label>
      <input id="pw2" type="password" name="confirm" required="required">
    </div>
    
    <div class="pure-controls">
      <button type="submit" name="button" class="pure-button pure-button-primary" value="Register">Register</button>
      <button type="reset" name="button" class="pure-button pure-button-primary" value="Cancel">Cancel</button>
    </div>
  </fieldset>
</form>
<h6>Already have an account? <a href="{{ url_for('login') }}">Login here</a></h6>
<br>
<a href="{{ url_for('home') }}">Back</a>
{% endblock %}
